<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" content="text/html" http-equiv="Content-Type" />
		<meta content="" name="description" />
		<title>Kubelt SDK Reference</title>
 		<link rel="stylesheet" type="text/css" href="css/shCore.css" />
		<style type="text/css">.syntaxhighlighter{overflow:hidden !important;}</style>
		<link rel="stylesheet" type="text/css" href="css/shThemeMarginalia.css" />
		<link rel="stylesheet" type="text/css" href="css/marginalia.css" />
		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/xregexp-min.js"></script>
		<script type="text/javascript" src="js/shCore.js"></script>
		<script type="text/javascript" src="js/shBrushClojure.js"></script>
	</head>
	<body>
		<table>
			<tr>
				<td class="docs">
					<div class="docs-header">
						<a class="anchor" href="#repl" name="repl">
							<h1 class="project-name">com.kubelt.spec.openrpc.component</h1>
							<a class="toc-link" href="index.html">toc</a>
						</a>
					</div>
				</td>
				<td class="codes" />
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(ns com.kubelt.spec.openrpc.component
  {:copyright &quot;©2022 Proof Zero Inc.&quot; :license &quot;Apache 2.0&quot;}
  (:require
   [com.kubelt.spec.openrpc.error :as openrpc.error]
   [com.kubelt.spec.openrpc.example :as openrpc.example]
   [com.kubelt.spec.openrpc.link :as openrpc.link]
   [com.kubelt.spec.openrpc.pairing :as openrpc.pairing]
   [com.kubelt.spec.openrpc.schema :as openrpc.schema]
   [com.kubelt.spec.openrpc.tag :as openrpc.tag]
   [com.kubelt.spec.openrpc.content :as openrpc.content]))</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def errors
  [:map-of :string openrpc.error/error])</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def pairing
  [:map-of :string openrpc.pairing/example])</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def tags
  [:map-of :string openrpc.tag/tag])</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def links
  [:map-of :string openrpc.link/link])</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def schemas
  [:map-of :keyword openrpc.schema/schema])</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def examples
  [:map-of :string openrpc.example/example])</pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					<h2>Components</h2>
				</td>
				<td class="codes">
					<pre class="brush: clojure"></pre>
				</td>
			</tr>
			<tr>
				<td class="docs">
					
				</td>
				<td class="codes">
					<pre class="brush: clojure">(def components
  [:map
   {:closed true
    :description &quot;An element to hold various schemas for the
specification.&quot;}
   [:content-descriptors
    {:optional true
     :description &quot;An object to hold reusable Content Descriptor
objects.&quot;}
    openrpc.content/descriptors]
   [:schemas
    {:optional true
     :description &quot;An object to hold reusable Schema objects.&quot;}
    schemas]
   [:examples
    {:optional true
     :description &quot;An object to hold reusable Example objects.&quot;}
    examples]
   [:links
    {:optional true
     :description &quot;An object to hold reusable Link objects.&quot;}
    links]
   [:errors
    {:optional true
     :description &quot;An object to hold reusable Error objects.&quot;}
    errors]
   [:example-pairing-objects
    {:optional true
     :description &quot;An object to hold reusable Example Pairing objects.&quot;}
    pairing]
   [:tags
    {:optional true
     :description &quot;An object to hold reusable Tag objects.&quot;}
    tags]])</pre>
				</td>
			</tr>
			<tr>
				<td class="spacer docs">&nbsp;</td>
				<td class="codes" />
			</tr>
		</table>
		<div class="footer">Generated by <a href="https://github.com/captain-porcelain/sidenotes">Sidenotes</a>.&nbsp;&nbsp;Syntax highlighting provided by Alex Gorbatchev's <a href="http://alexgorbatchev.com/SyntaxHighlighter/">SyntaxHighlighter</a>
		</div>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>
